.post-topic {
	margin: 0 4px;
}

body {
	font-family: 'Lato', sans-serif;
}

.app-wrapper {
	display: grid;
	justify-content: center;
}


.logo-main,
.recent-posts {
	display: grid;
	justify-items: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


@import './variables.scss';
@import './mixins.scss';
@import './searchBar';
@import './recentPosts';
@import './results.scss';
@import "./home.scss";


.no-conent {
	color: $color-gray-one;
	font-size: 14px;
	line-height: 17px;
}